<html>
    <head>
    <title>DevOps Week 9 Project</title>
    
    </head>
<body>
        <div>
            <h1>Random Holiday Generator</h1>
        </div>
    <br>
    <br>
    <div>
        <h1>Your random holiday destination is {{ city }} </h1>
        <br>
        <h1>Your chosen activity on this trip is {{ activity }}</h1> 
        <br>
        <h1>The total cost of your holiday will be between {{ price }}</h1>
    </div>
     <br><br>
    
<div>
    <a href="{{ url_for('index')}}">
        <button>Generate</button>
</div></a>

</body>
</html>